/* 余白削除 */

body{

margin:0;

padding:0;

background:#0b0f1a;

color:white;

font-family:

"Yu Gothic",

"Meiryo",

sans-serif;

}

/* トップ */

.hero{

height:450px;

background:

linear-gradient(
rgba(0,0,0,0.5),
rgba(0,0,0,0.8)
),

url("https://images.unsplash.com/photo-1545165375-1a360b9c1f3a");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}

/* タイトル */

.hero-text h1{

font-size:70px;

margin:0;

letter-spacing:15px;

text-shadow:

0 0 15px #00aaff,

0 0 30px #0066ff;

}

/* 英語 */

.hero-text p{

font-size:22px;

letter-spacing:6px;

color:#dddddd;

}

/* メニュー */

nav{

background:#020617;

padding:20px;

text-align:center;

}

nav a{

color:white;

text-decoration:none;

margin:30px;

font-size:20px;

font-weight:bold;

transition:0.3s;

}

nav a:hover{

color:#00aaff;

}

/* 内容 */

main{

max-width:1000px;

margin:auto;

padding:60px 20px;

text-align:center;

}

main h2{

font-size:34px;

color:#00aaff;

}

main p{

font-size:18px;

line-height:1.8;

}

/* フッター */

footer{

background:black;

padding:25px;

text-align:center;

color:#888;

}

/* スマホ */

@media(max-width:700px){

.hero{

height:300px;

}

.hero-text h1{

font-size:38px;

letter-spacing:5px;

}

.hero-text p{

font-size:16px;

}

nav a{

display:block;

margin:12px;

font-size:18px;

}

}
